USE [master]
GO
/****** Object:  Database [toiec-web-db]    Script Date: 12/13/2023 10:37:40 PM ******/
CREATE DATABASE [toiec-web-db]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'toiec-web-db', FILENAME = N'/var/opt/mssql/data/toiec-web-db.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'toiec-web-db_log', FILENAME = N'/var/opt/mssql/data/toiec-web-db_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [toiec-web-db].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [toiec-web-db]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 12/13/2023 10:37:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Admins]    Script Date: 12/13/2023 10:37:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admins](
	[idAdmin] [uniqueidentifier] NOT NULL,
	[idUser] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_Admins] PRIMARY KEY CLUSTERED 
(
	[idAdmin] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AnswerQuestions]    Script Date: 12/13/2023 10:37:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AnswerQuestions](
	[idAnswer] [uniqueidentifier] NOT NULL,
	[idQuestion] [uniqueidentifier] NOT NULL,
	[content] [nvarchar](max) NOT NULL,
	[QuestionidQuestion] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_AnswerQuestions] PRIMARY KEY CLUSTERED 
(
	[idAnswer] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoleClaims]    Script Date: 12/13/2023 10:37:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoleClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoleId] [nvarchar](450) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetRoleClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 12/13/2023 10:37:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](256) NULL,
	[NormalizedName] [nvarchar](256) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 12/13/2023 10:37:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](450) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 12/13/2023 10:37:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](450) NOT NULL,
	[ProviderKey] [nvarchar](450) NOT NULL,
	[ProviderDisplayName] [nvarchar](max) NULL,
	[UserId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 12/13/2023 10:37:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](450) NOT NULL,
	[RoleId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 12/13/2023 10:37:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](450) NOT NULL,
	[Discriminator] [nvarchar](max) NOT NULL,
	[Fullname] [nvarchar](max) NULL,
	[DateOfBirth] [nvarchar](max) NULL,
	[Gender] [bit] NULL,
	[ImageURL] [nvarchar](max) NULL,
	[UserName] [nvarchar](256) NULL,
	[NormalizedUserName] [nvarchar](256) NULL,
	[Email] [nvarchar](256) NULL,
	[NormalizedEmail] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEnd] [datetimeoffset](7) NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
 CONSTRAINT [PK_AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserTokens]    Script Date: 12/13/2023 10:37:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserTokens](
	[UserId] [nvarchar](450) NOT NULL,
	[LoginProvider] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](450) NOT NULL,
	[Value] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserTokens] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[LoginProvider] ASC,
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Comments]    Script Date: 12/13/2023 10:37:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comments](
	[idComment] [uniqueidentifier] NOT NULL,
	[idUser] [nvarchar](450) NOT NULL,
	[idPost] [uniqueidentifier] NOT NULL,
	[content] [nvarchar](max) NOT NULL,
	[createdDate] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Comments] PRIMARY KEY CLUSTERED 
(
	[idComment] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Courses]    Script Date: 12/13/2023 10:37:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Courses](
	[idCourse] [uniqueidentifier] NOT NULL,
	[idProfessor] [uniqueidentifier] NOT NULL,
	[name] [nvarchar](max) NOT NULL,
	[description] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Courses] PRIMARY KEY CLUSTERED 
(
	[idCourse] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Lessons]    Script Date: 12/13/2023 10:37:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lessons](
	[idLesson] [uniqueidentifier] NOT NULL,
	[idCourse] [uniqueidentifier] NOT NULL,
	[title] [nvarchar](max) NOT NULL,
	[content] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Lessons] PRIMARY KEY CLUSTERED 
(
	[idLesson] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PaymentMethods]    Script Date: 12/13/2023 10:37:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaymentMethods](
	[idMethod] [uniqueidentifier] NOT NULL,
	[name] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_PaymentMethods] PRIMARY KEY CLUSTERED 
(
	[idMethod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payments]    Script Date: 12/13/2023 10:37:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payments](
	[idPayment] [uniqueidentifier] NOT NULL,
	[idMethod] [uniqueidentifier] NOT NULL,
	[idStudent] [uniqueidentifier] NOT NULL,
	[idPackage] [uniqueidentifier] NOT NULL,
	[message] [nvarchar](max) NOT NULL,
	[paymentDate] [datetime2](7) NOT NULL,
	[paymentAmount] [float] NOT NULL,
 CONSTRAINT [PK_Payments] PRIMARY KEY CLUSTERED 
(
	[idPayment] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Posts]    Script Date: 12/13/2023 10:37:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Posts](
	[idPost] [uniqueidentifier] NOT NULL,
	[idUser] [nvarchar](450) NOT NULL,
	[title] [nvarchar](max) NOT NULL,
	[createdTime] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Posts] PRIMARY KEY CLUSTERED 
(
	[idPost] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Professors]    Script Date: 12/13/2023 10:37:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Professors](
	[idProfessor] [uniqueidentifier] NOT NULL,
	[idUser] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_Professors] PRIMARY KEY CLUSTERED 
(
	[idProfessor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Questions]    Script Date: 12/13/2023 10:37:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Questions](
	[idQuestion] [uniqueidentifier] NOT NULL,
	[idQuiz] [uniqueidentifier] NULL,
	[idUnit] [uniqueidentifier] NULL,
	[idProfessor] [uniqueidentifier] NOT NULL,
	[content] [nvarchar](max) NOT NULL,
	[answer] [nvarchar](max) NOT NULL,
	[explaination] [nvarchar](max) NOT NULL,
	[choice_1] [nvarchar](max) NOT NULL,
	[choice_2] [nvarchar](max) NOT NULL,
	[choice_3] [nvarchar](max) NOT NULL,
	[choice_4] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Questions] PRIMARY KEY CLUSTERED 
(
	[idQuestion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Quizs]    Script Date: 12/13/2023 10:37:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Quizs](
	[idQuiz] [uniqueidentifier] NOT NULL,
	[idLesson] [uniqueidentifier] NOT NULL,
	[title] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Quizs] PRIMARY KEY CLUSTERED 
(
	[idQuiz] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reports]    Script Date: 12/13/2023 10:37:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reports](
	[idReport] [uniqueidentifier] NOT NULL,
	[idUser] [nvarchar](450) NOT NULL,
	[idAdmin] [uniqueidentifier] NOT NULL,
	[idPost] [uniqueidentifier] NOT NULL,
	[reason] [nvarchar](max) NOT NULL,
	[isCheck] [bit] NOT NULL,
	[reportDate] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Reports] PRIMARY KEY CLUSTERED 
(
	[idReport] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ResetPasswords]    Script Date: 12/13/2023 10:37:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ResetPasswords](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](max) NOT NULL,
	[OTP] [nvarchar](max) NOT NULL,
	[InsertDateTimeUTC] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_ResetPasswords] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ScoreParams]    Script Date: 12/13/2023 10:37:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ScoreParams](
	[correctAnswers] [int] IDENTITY(1,1) NOT NULL,
	[listenningScore] [int] NOT NULL,
	[readingScore] [int] NOT NULL,
 CONSTRAINT [PK_ScoreParams] PRIMARY KEY CLUSTERED 
(
	[correctAnswers] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Students]    Script Date: 12/13/2023 10:37:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Students](
	[idStudent] [uniqueidentifier] NOT NULL,
	[idUser] [nvarchar](450) NOT NULL,
	[freeTest] [bit] NOT NULL,
 CONSTRAINT [PK_Students] PRIMARY KEY CLUSTERED 
(
	[idStudent] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TestParts]    Script Date: 12/13/2023 10:37:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TestParts](
	[partId] [uniqueidentifier] NOT NULL,
	[partName] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_TestParts] PRIMARY KEY CLUSTERED 
(
	[partId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TestQuestionUnits]    Script Date: 12/13/2023 10:37:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TestQuestionUnits](
	[idQuestionUnit] [uniqueidentifier] NOT NULL,
	[idTest] [uniqueidentifier] NOT NULL,
	[idTestPart] [uniqueidentifier] NOT NULL,
	[paragraph] [nvarchar](max) NULL,
	[audio] [nvarchar](max) NULL,
	[image] [nvarchar](max) NULL,
	[script] [nvarchar](max) NULL,
	[translation] [nvarchar](max) NULL,
 CONSTRAINT [PK_TestQuestionUnits] PRIMARY KEY CLUSTERED 
(
	[idQuestionUnit] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TestRecords]    Script Date: 12/13/2023 10:37:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TestRecords](
	[idRecord] [uniqueidentifier] NOT NULL,
	[idTest] [uniqueidentifier] NOT NULL,
	[idStudent] [uniqueidentifier] NOT NULL,
	[createDate] [datetime2](7) NOT NULL,
	[correctAns] [int] NOT NULL,
	[listenCorrect] [int] NOT NULL,
	[listenScore] [int] NOT NULL,
	[readScore] [int] NOT NULL,
	[readingCorrect] [int] NOT NULL,
	[totalScore] [int] NOT NULL,
	[wrongAns] [int] NOT NULL,
 CONSTRAINT [PK_TestRecords] PRIMARY KEY CLUSTERED 
(
	[idRecord] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tests]    Script Date: 12/13/2023 10:37:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tests](
	[idTest] [uniqueidentifier] NOT NULL,
	[idType] [uniqueidentifier] NOT NULL,
	[idProfessor] [uniqueidentifier] NOT NULL,
	[name] [nvarchar](max) NOT NULL,
	[createDate] [datetime2](7) NOT NULL,
	[useDate] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Tests] PRIMARY KEY CLUSTERED 
(
	[idTest] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TestTypes]    Script Date: 12/13/2023 10:37:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TestTypes](
	[idTestType] [uniqueidentifier] NOT NULL,
	[typeName] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_TestTypes] PRIMARY KEY CLUSTERED 
(
	[idTestType] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserAnswers]    Script Date: 12/13/2023 10:37:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserAnswers](
	[idUAnswer] [uniqueidentifier] NOT NULL,
	[idQuestion] [uniqueidentifier] NOT NULL,
	[idRecord] [uniqueidentifier] NOT NULL,
	[idStudent] [uniqueidentifier] NOT NULL,
	[userChoice] [nvarchar](max) NOT NULL,
	[state] [bit] NOT NULL,
 CONSTRAINT [PK_UserAnswers] PRIMARY KEY CLUSTERED 
(
	[idUAnswer] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VipPackages]    Script Date: 12/13/2023 10:37:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VipPackages](
	[idPackage] [uniqueidentifier] NOT NULL,
	[idAdmin] [uniqueidentifier] NOT NULL,
	[name] [nvarchar](max) NOT NULL,
	[description] [nvarchar](max) NOT NULL,
	[price] [float] NOT NULL,
	[duration] [int] NOT NULL,
 CONSTRAINT [PK_VipPackages] PRIMARY KEY CLUSTERED 
(
	[idPackage] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VipStudents]    Script Date: 12/13/2023 10:37:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VipStudents](
	[idVipStudent] [uniqueidentifier] NOT NULL,
	[idStudent] [uniqueidentifier] NOT NULL,
	[vipExpire] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_VipStudents] PRIMARY KEY CLUSTERED 
(
	[idVipStudent] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Vocabularies]    Script Date: 12/13/2023 10:37:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vocabularies](
	[idVoc] [uniqueidentifier] NOT NULL,
	[idTopic] [uniqueidentifier] NOT NULL,
	[idProfessor] [uniqueidentifier] NOT NULL,
	[engWord] [nvarchar](max) NOT NULL,
	[wordType] [nvarchar](max) NOT NULL,
	[meaning] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Vocabularies] PRIMARY KEY CLUSTERED 
(
	[idVoc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VocabularyTopics]    Script Date: 12/13/2023 10:37:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VocabularyTopics](
	[idVocTopic] [uniqueidentifier] NOT NULL,
	[idProfessor] [uniqueidentifier] NOT NULL,
	[name] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_VocabularyTopics] PRIMARY KEY CLUSTERED 
(
	[idVocTopic] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20231130090953_1', N'6.0.24')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20231204121457_update', N'6.0.24')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20231204121534_1', N'6.0.24')
GO
INSERT [dbo].[Admins] ([idAdmin], [idUser]) VALUES (N'0639a5b1-1011-47de-bfff-e3f1512377c4', N'b0c9d868-5e6a-4c2c-8747-2dcc88f4d31a')
GO
INSERT [dbo].[AspNetRoles] ([Id], [Name], [NormalizedName], [ConcurrencyStamp]) VALUES (N'1257b8ad-564a-456f-81a1-d38f180ddd63', N'Student', N'Student', N'2')
INSERT [dbo].[AspNetRoles] ([Id], [Name], [NormalizedName], [ConcurrencyStamp]) VALUES (N'35564c0c-f6fc-4ce5-ad98-f3c362e90ed1', N'VipStudent', N'VipStudent', N'3')
INSERT [dbo].[AspNetRoles] ([Id], [Name], [NormalizedName], [ConcurrencyStamp]) VALUES (N'8111cfd6-214a-4694-a13c-c6ec3d7f56b2', N'Admin', N'Admin', N'1')
GO
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'34d4cc89-6ac9-426a-95ca-6e94153cf3a2', N'1257b8ad-564a-456f-81a1-d38f180ddd63')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'93baafda-a67a-42c1-96f5-138f0af0cb5c', N'1257b8ad-564a-456f-81a1-d38f180ddd63')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'965059f5-ac7d-4e43-9d22-5bd7c544078e', N'1257b8ad-564a-456f-81a1-d38f180ddd63')
GO
INSERT [dbo].[Courses] ([idCourse], [idProfessor], [name], [description]) VALUES (N'47defd5e-812c-4b33-8a05-5568676db3e2', N'df2b3fc0-0a65-416f-aff9-073e53ffcaac', N'From Zero to Hero cập nhật', N'Khóa học cho người mất gốc')
INSERT [dbo].[Courses] ([idCourse], [idProfessor], [name], [description]) VALUES (N'6e778ced-ec5c-48ef-bfac-56b6cd72175f', N'df2b3fc0-0a65-416f-aff9-073e53ffcaac', N'TOIEC BASIC', N'Khóa học căn bản giúp học viên hiểu về cấu trúc đề thi cũng như cách làm của từng part cập nhật')
INSERT [dbo].[Courses] ([idCourse], [idProfessor], [name], [description]) VALUES (N'1aeb7d2d-b809-45ae-bff2-83f1c143a2f5', N'df2b3fc0-0a65-416f-aff9-073e53ffcaac', N'BASIC GRAMMAR', N'Khóa học ngữ pháp căn bản cho người mất gốc.')
GO
INSERT [dbo].[PaymentMethods] ([idMethod], [name]) VALUES (N'4a7f956c-c7cd-4883-ac5a-e4ebe532fbb6', N'MOMO')
GO
INSERT [dbo].[Professors] ([idProfessor], [idUser]) VALUES (N'df2b3fc0-0a65-416f-aff9-073e53ffcaac', N'0eaf6926-d068-49a3-a42e-ce446d603178')
GO
INSERT [dbo].[Questions] ([idQuestion], [idQuiz], [idUnit], [idProfessor], [content], [answer], [explaination], [choice_1], [choice_2], [choice_3], [choice_4]) VALUES (N'9c822fad-8431-4b6e-a540-0312e46dd49d', N'23f20250-066f-46fa-acba-c9bf3c913de0', NULL, N'df2b3fc0-0a65-416f-aff9-073e53ffcaac', N'The air is naturally ________ by foreign matter such as plant pollens and dust.', N'3', N'The blank needs a past participle => C is the correct answer', N' contaminate', N'contamination', N'contaminated', N'contaminating')
INSERT [dbo].[Questions] ([idQuestion], [idQuiz], [idUnit], [idProfessor], [content], [answer], [explaination], [choice_1], [choice_2], [choice_3], [choice_4]) VALUES (N'd2eac385-f384-43f3-9ea8-122f3e9fc0c2', NULL, N'e8ef007c-f12e-42ce-a518-199c6dfea9e0', N'df2b3fc0-0a65-416f-aff9-073e53ffcaac', N'What did the woman do last week?', N'3', N'', N'She had a business meeting with Mr. Ransh.', N'She made changes in a blueprint design.', N'She sent an e-mail to Mr. Ransh.', N'She talked with Mr. Ransh on the phone.')
GO
INSERT [dbo].[Quizs] ([idQuiz], [idLesson], [title]) VALUES (N'b6eeeb97-fa7f-4b89-a60f-014f0dcd8f20', N'55106086-1d88-4865-b4fc-dc7044612c8c', N'Quiz 4')
INSERT [dbo].[Quizs] ([idQuiz], [idLesson], [title]) VALUES (N'5079b0de-e86a-444b-97e0-2739598550f6', N'13505456-be1a-4a07-94f9-87e96b6ed2e2', N'Quiz 5')
INSERT [dbo].[Quizs] ([idQuiz], [idLesson], [title]) VALUES (N'55494a30-3fec-46da-9617-3fb851d49610', N'13505456-be1a-4a07-94f9-87e96b6ed2e2', N'Quiz 4')
GO
SET IDENTITY_INSERT [dbo].[ResetPasswords] ON 

INSERT [dbo].[ResetPasswords] ([Id], [UserId], [OTP], [InsertDateTimeUTC]) VALUES (1, N'aa461c41-a60b-4cc7-b646-275cd9d5a052', N'741323', CAST(N'2023-12-02T16:05:01.8875937' AS DateTime2))
INSERT [dbo].[ResetPasswords] ([Id], [UserId], [OTP], [InsertDateTimeUTC]) VALUES (2, N'aa461c41-a60b-4cc7-b646-275cd9d5a052', N'163431', CAST(N'2023-12-02T16:38:37.6398358' AS DateTime2))
INSERT [dbo].[ResetPasswords] ([Id], [UserId], [OTP], [InsertDateTimeUTC]) VALUES (3, N'aa461c41-a60b-4cc7-b646-275cd9d5a052', N'524933', CAST(N'2023-12-02T16:40:31.2680565' AS DateTime2))
SET IDENTITY_INSERT [dbo].[ResetPasswords] OFF
GO
SET IDENTITY_INSERT [dbo].[ScoreParams] ON 

INSERT [dbo].[ScoreParams] ([correctAnswers], [listenningScore], [readingScore]) VALUES (1, 5, 5)
INSERT [dbo].[ScoreParams] ([correctAnswers], [listenningScore], [readingScore]) VALUES (2, 5, 5)
INSERT [dbo].[ScoreParams] ([correctAnswers], [listenningScore], [readingScore]) VALUES (3, 5, 5)
GO
SET IDENTITY_INSERT [dbo].[ScoreParams] OFF
GO
INSERT [dbo].[Students] ([idStudent], [idUser], [freeTest]) VALUES (N'9fb31bc1-73ce-4cb7-a8d2-12fe41853690', N'afdc7336-da2f-49af-827c-a05997cdc4d3', 1)
INSERT [dbo].[Students] ([idStudent], [idUser], [freeTest]) VALUES (N'dd427785-ae92-4012-93b5-3d2c4b50b72d', N'34d4cc89-6ac9-426a-95ca-6e94153cf3a2', 1)
INSERT [dbo].[Students] ([idStudent], [idUser], [freeTest]) VALUES (N'809de52d-b38e-4ca7-87fe-61f2ddcc41df', N'93baafda-a67a-42c1-96f5-138f0af0cb5c', 1)
GO
INSERT [dbo].[TestParts] ([partId], [partName]) VALUES (N'8bd8ddc1-8e0b-4839-98b6-48419ed575a1', N'Part 7')
INSERT [dbo].[TestParts] ([partId], [partName]) VALUES (N'cd946869-8b95-44ef-a4c5-93bc490c844a', N'Part 3')
INSERT [dbo].[TestParts] ([partId], [partName]) VALUES (N'128f202b-94e7-4c8c-a70f-cdc0426e0e13', N'Part 6')
GO
INSERT [dbo].[TestQuestionUnits] ([idQuestionUnit], [idTest], [idTestPart], [paragraph], [audio], [image], [script], [translation]) VALUES (N'313ed1d7-170a-4209-b19a-045df03ba253', N'e109ad2c-6eda-4395-8638-74ebf489b1c6', N'fd59d12e-5f96-4b05-a727-cf0eaf096255', NULL, N'http://res.cloudinary.com/dru8wcmtb/video/upload/v1702360129/tkfisoihmbq1gcvzmvxd.mp3', NULL, N'Has the plumber stopped the leak in the upstairs restroom?
(A) Yes, it’s working fine now.
(B) No, I live downstairs.
(C) Try calling a professional.', NULL)
INSERT [dbo].[TestQuestionUnits] ([idQuestionUnit], [idTest], [idTestPart], [paragraph], [audio], [image], [script], [translation]) VALUES (N'348e21d5-8d34-490d-ac10-11e60d0d4e52', N'e109ad2c-6eda-4395-8638-74ebf489b1c6', N'fd59d12e-5f96-4b05-a727-cf0eaf096255', NULL, N'http://res.cloudinary.com/dru8wcmtb/video/upload/v1702360490/vhc4t8lphlk3ntu8wcjx.mp3', NULL, N'When do you want to leave for the concert hall?
(A) How about an hour from now?
(B) At the Montgomery Theater.
(C) My favorite band is playing.', NULL)
GO
INSERT [dbo].[TestRecords] ([idRecord], [idTest], [idStudent], [createDate], [correctAns], [listenCorrect], [listenScore], [readScore], [readingCorrect], [totalScore], [wrongAns]) VALUES (N'1d3262b2-5568-4701-bc1c-89b661184de9', N'e109ad2c-6eda-4395-8638-74ebf489b1c6', N'9fb31bc1-73ce-4cb7-a8d2-12fe41853690', CAST(N'2023-12-13T22:28:41.1832276' AS DateTime2), 1, 1, 5, 0, 0, 5, 1)
GO
INSERT [dbo].[Tests] ([idTest], [idType], [idProfessor], [name], [createDate], [useDate]) VALUES (N'eaff9bcd-d736-4697-a9e8-1d48b05c41bf', N'bd687156-3499-4bb6-a345-fc3e120612d0', N'df2b3fc0-0a65-416f-aff9-073e53ffcaac', N'EST 2022 Test 1 MiniTest', CAST(N'0001-01-01T00:00:00.0000000' AS DateTime2), CAST(N'0001-01-01T00:00:00.0000000' AS DateTime2))
INSERT [dbo].[Tests] ([idTest], [idType], [idProfessor], [name], [createDate], [useDate]) VALUES (N'b620e770-e42b-4b3b-b57c-361fdef1a8c1', N'9c2cdc56-6774-4304-ad5e-c88403cc0e18', N'df2b3fc0-0a65-416f-aff9-073e53ffcaac', N'EST 2022 Test 3 FullTest', CAST(N'0001-01-01T00:00:00.0000000' AS DateTime2), CAST(N'0001-01-01T00:00:00.0000000' AS DateTime2))
INSERT [dbo].[Tests] ([idTest], [idType], [idProfessor], [name], [createDate], [useDate]) VALUES (N'e109ad2c-6eda-4395-8638-74ebf489b1c6', N'9c2cdc56-6774-4304-ad5e-c88403cc0e18', N'df2b3fc0-0a65-416f-aff9-073e53ffcaac', N'EST 2022 Test 1 FullTest', CAST(N'0001-01-01T00:00:00.0000000' AS DateTime2), CAST(N'0001-01-01T00:00:00.0000000' AS DateTime2))
GO
INSERT [dbo].[TestTypes] ([idTestType], [typeName]) VALUES (N'9c2cdc56-6774-4304-ad5e-c88403cc0e18', N'FullTest')
INSERT [dbo].[TestTypes] ([idTestType], [typeName]) VALUES (N'bd687156-3499-4bb6-a345-fc3e120612d0', N'MiniTest')
GO
INSERT [dbo].[UserAnswers] ([idUAnswer], [idQuestion], [idRecord], [idStudent], [userChoice], [state]) VALUES (N'421de440-fa17-4244-b5df-4a2dbf2b676b', N'3ab45e88-d9dc-4264-81b6-d3bc7284a098', N'1d3262b2-5568-4701-bc1c-89b661184de9', N'9fb31bc1-73ce-4cb7-a8d2-12fe41853690', N'1', 0)
INSERT [dbo].[UserAnswers] ([idUAnswer], [idQuestion], [idRecord], [idStudent], [userChoice], [state]) VALUES (N'4b009044-bb03-4193-940a-885ff417439d', N'c8b27f89-b1a8-49d2-9c56-8717fefff6a8', N'1d3262b2-5568-4701-bc1c-89b661184de9', N'9fb31bc1-73ce-4cb7-a8d2-12fe41853690', N'3', 1)
GO
INSERT [dbo].[VipPackages] ([idPackage], [idAdmin], [name], [description], [price], [duration]) VALUES (N'c5efdd6d-a0c1-4d7a-bb83-0537cfc88a8c', N'0639a5b1-1011-47de-bfff-e3f1512377c4', N'GÓI VIP CƠ BẢN', N'Cho phép người dùng truy cập mọi tiện ích trong vòng một tháng', 10000, 1)
INSERT [dbo].[VipPackages] ([idPackage], [idAdmin], [name], [description], [price], [duration]) VALUES (N'933bdeed-d52b-4811-b075-34ecf6b25d64', N'0639a5b1-1011-47de-bfff-e3f1512377c4', N'GÓI VIP NÂNG CAO', N'Cho phép người dùng truy cập mọi tiện ích trong vòng 6 tháng', 45000, 6)
GO
INSERT [dbo].[VipStudents] ([idVipStudent], [idStudent], [vipExpire]) VALUES (N'716e3b63-52b7-48b4-9337-69950dbcbbd9', N'85e8b325-d152-4296-a060-854176f10787', CAST(N'2024-03-09T20:24:43.2530982' AS DateTime2))
GO
INSERT [dbo].[Vocabularies] ([idVoc], [idTopic], [idProfessor], [engWord], [wordType], [meaning]) VALUES (N'29eb2159-33e2-4f35-9794-08dc203e8ae4', N'd841f86e-d0b2-46ca-851a-086f915889af', N'df2b3fc0-0a65-416f-aff9-073e53ffcaac', N'Budget', N'noun', N'Dự thảo ngân sách')
INSERT [dbo].[Vocabularies] ([idVoc], [idTopic], [idProfessor], [engWord], [wordType], [meaning]) VALUES (N'f826b0e1-abb1-4fae-9ad5-3bd9c8c7f5e9', N'201d17a0-602d-4591-a5b1-64185ece3307', N'df2b3fc0-0a65-416f-aff9-073e53ffcaac', N'Diagnose', N'verb', N'Chẩn đoán')
INSERT [dbo].[Vocabularies] ([idVoc], [idTopic], [idProfessor], [engWord], [wordType], [meaning]) VALUES (N'3ecd7fe2-1186-45b3-bbaa-4c43d6fe93ff', N'201d17a0-602d-4591-a5b1-64185ece3307', N'df2b3fc0-0a65-416f-aff9-073e53ffcaac', N'beverage', N'noun', N'thuc uống')
GO
INSERT [dbo].[VocabularyTopics] ([idVocTopic], [idProfessor], [name]) VALUES (N'd841f86e-d0b2-46ca-851a-086f915889af', N'df2b3fc0-0a65-416f-aff9-073e53ffcaac', N'Accounting')
INSERT [dbo].[VocabularyTopics] ([idVocTopic], [idProfessor], [name]) VALUES (N'8eabbfc1-f0c5-4ede-88d2-32981473443e', N'df2b3fc0-0a65-416f-aff9-073e53ffcaac', N'Electronics')
INSERT [dbo].[VocabularyTopics] ([idVocTopic], [idProfessor], [name]) VALUES (N'201d17a0-602d-4591-a5b1-64185ece3307', N'df2b3fc0-0a65-416f-aff9-073e53ffcaac', N'General Travel')
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Admins_idUser]    Script Date: 12/13/2023 10:37:48 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Admins_idUser] ON [dbo].[Admins]
(
	[idUser] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_AnswerQuestions_QuestionidQuestion]    Script Date: 12/13/2023 10:37:48 PM ******/
CREATE NONCLUSTERED INDEX [IX_AnswerQuestions_QuestionidQuestion] ON [dbo].[AnswerQuestions]
(
	[QuestionidQuestion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AspNetRoleClaims_RoleId]    Script Date: 12/13/2023 10:37:48 PM ******/
CREATE NONCLUSTERED INDEX [IX_AspNetRoleClaims_RoleId] ON [dbo].[AspNetRoleClaims]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [RoleNameIndex]    Script Date: 12/13/2023 10:37:48 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [RoleNameIndex] ON [dbo].[AspNetRoles]
(
	[NormalizedName] ASC
)
WHERE ([NormalizedName] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AspNetUserClaims_UserId]    Script Date: 12/13/2023 10:37:48 PM ******/
CREATE NONCLUSTERED INDEX [IX_AspNetUserClaims_UserId] ON [dbo].[AspNetUserClaims]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AspNetUserLogins_UserId]    Script Date: 12/13/2023 10:37:48 PM ******/
CREATE NONCLUSTERED INDEX [IX_AspNetUserLogins_UserId] ON [dbo].[AspNetUserLogins]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AspNetUserRoles_RoleId]    Script Date: 12/13/2023 10:37:48 PM ******/
CREATE NONCLUSTERED INDEX [IX_AspNetUserRoles_RoleId] ON [dbo].[AspNetUserRoles]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [EmailIndex]    Script Date: 12/13/2023 10:37:48 PM ******/
CREATE NONCLUSTERED INDEX [EmailIndex] ON [dbo].[AspNetUsers]
(
	[NormalizedEmail] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UserNameIndex]    Script Date: 12/13/2023 10:37:48 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UserNameIndex] ON [dbo].[AspNetUsers]
(
	[NormalizedUserName] ASC
)
WHERE ([NormalizedUserName] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Comments_idPost]    Script Date: 12/13/2023 10:37:48 PM ******/
CREATE NONCLUSTERED INDEX [IX_Comments_idPost] ON [dbo].[Comments]
(
	[idPost] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Comments_idUser]    Script Date: 12/13/2023 10:37:48 PM ******/
CREATE NONCLUSTERED INDEX [IX_Comments_idUser] ON [dbo].[Comments]
(
	[idUser] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Courses_idProfessor]    Script Date: 12/13/2023 10:37:48 PM ******/
CREATE NONCLUSTERED INDEX [IX_Courses_idProfessor] ON [dbo].[Courses]
(
	[idProfessor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Lessons_idCourse]    Script Date: 12/13/2023 10:37:48 PM ******/
CREATE NONCLUSTERED INDEX [IX_Lessons_idCourse] ON [dbo].[Lessons]
(
	[idCourse] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Payments_idMethod]    Script Date: 12/13/2023 10:37:48 PM ******/
CREATE NONCLUSTERED INDEX [IX_Payments_idMethod] ON [dbo].[Payments]
(
	[idMethod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Payments_idPackage]    Script Date: 12/13/2023 10:37:48 PM ******/
CREATE NONCLUSTERED INDEX [IX_Payments_idPackage] ON [dbo].[Payments]
(
	[idPackage] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Payments_idStudent]    Script Date: 12/13/2023 10:37:48 PM ******/
CREATE NONCLUSTERED INDEX [IX_Payments_idStudent] ON [dbo].[Payments]
(
	[idStudent] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Posts_idUser]    Script Date: 12/13/2023 10:37:48 PM ******/
CREATE NONCLUSTERED INDEX [IX_Posts_idUser] ON [dbo].[Posts]
(
	[idUser] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Professors_idUser]    Script Date: 12/13/2023 10:37:48 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Professors_idUser] ON [dbo].[Professors]
(
	[idUser] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Questions_idProfessor]    Script Date: 12/13/2023 10:37:48 PM ******/
CREATE NONCLUSTERED INDEX [IX_Questions_idProfessor] ON [dbo].[Questions]
(
	[idProfessor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Questions_idQuiz]    Script Date: 12/13/2023 10:37:48 PM ******/
CREATE NONCLUSTERED INDEX [IX_Questions_idQuiz] ON [dbo].[Questions]
(
	[idQuiz] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Questions_idUnit]    Script Date: 12/13/2023 10:37:48 PM ******/
CREATE NONCLUSTERED INDEX [IX_Questions_idUnit] ON [dbo].[Questions]
(
	[idUnit] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Quizs_idLesson]    Script Date: 12/13/2023 10:37:48 PM ******/
CREATE NONCLUSTERED INDEX [IX_Quizs_idLesson] ON [dbo].[Quizs]
(
	[idLesson] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Reports_idAdmin]    Script Date: 12/13/2023 10:37:48 PM ******/
CREATE NONCLUSTERED INDEX [IX_Reports_idAdmin] ON [dbo].[Reports]
(
	[idAdmin] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Reports_idPost]    Script Date: 12/13/2023 10:37:48 PM ******/
CREATE NONCLUSTERED INDEX [IX_Reports_idPost] ON [dbo].[Reports]
(
	[idPost] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Reports_idUser]    Script Date: 12/13/2023 10:37:48 PM ******/
CREATE NONCLUSTERED INDEX [IX_Reports_idUser] ON [dbo].[Reports]
(
	[idUser] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Students_idUser]    Script Date: 12/13/2023 10:37:48 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Students_idUser] ON [dbo].[Students]
(
	[idUser] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_TestQuestionUnits_idTest]    Script Date: 12/13/2023 10:37:48 PM ******/
CREATE NONCLUSTERED INDEX [IX_TestQuestionUnits_idTest] ON [dbo].[TestQuestionUnits]
(
	[idTest] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_TestQuestionUnits_idTestPart]    Script Date: 12/13/2023 10:37:48 PM ******/
CREATE NONCLUSTERED INDEX [IX_TestQuestionUnits_idTestPart] ON [dbo].[TestQuestionUnits]
(
	[idTestPart] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_TestRecords_idStudent]    Script Date: 12/13/2023 10:37:48 PM ******/
CREATE NONCLUSTERED INDEX [IX_TestRecords_idStudent] ON [dbo].[TestRecords]
(
	[idStudent] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_TestRecords_idTest]    Script Date: 12/13/2023 10:37:48 PM ******/
CREATE NONCLUSTERED INDEX [IX_TestRecords_idTest] ON [dbo].[TestRecords]
(
	[idTest] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Tests_idProfessor]    Script Date: 12/13/2023 10:37:48 PM ******/
CREATE NONCLUSTERED INDEX [IX_Tests_idProfessor] ON [dbo].[Tests]
(
	[idProfessor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Tests_idType]    Script Date: 12/13/2023 10:37:48 PM ******/
CREATE NONCLUSTERED INDEX [IX_Tests_idType] ON [dbo].[Tests]
(
	[idType] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_UserAnswers_idQuestion]    Script Date: 12/13/2023 10:37:48 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserAnswers_idQuestion] ON [dbo].[UserAnswers]
(
	[idQuestion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_UserAnswers_idRecord]    Script Date: 12/13/2023 10:37:48 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserAnswers_idRecord] ON [dbo].[UserAnswers]
(
	[idRecord] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_UserAnswers_idStudent]    Script Date: 12/13/2023 10:37:48 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserAnswers_idStudent] ON [dbo].[UserAnswers]
(
	[idStudent] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_VipPackages_idAdmin]    Script Date: 12/13/2023 10:37:48 PM ******/
CREATE NONCLUSTERED INDEX [IX_VipPackages_idAdmin] ON [dbo].[VipPackages]
(
	[idAdmin] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_VipStudents_idStudent]    Script Date: 12/13/2023 10:37:48 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_VipStudents_idStudent] ON [dbo].[VipStudents]
(
	[idStudent] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Vocabularies_idProfessor]    Script Date: 12/13/2023 10:37:48 PM ******/
CREATE NONCLUSTERED INDEX [IX_Vocabularies_idProfessor] ON [dbo].[Vocabularies]
(
	[idProfessor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Vocabularies_idTopic]    Script Date: 12/13/2023 10:37:48 PM ******/
CREATE NONCLUSTERED INDEX [IX_Vocabularies_idTopic] ON [dbo].[Vocabularies]
(
	[idTopic] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_VocabularyTopics_idProfessor]    Script Date: 12/13/2023 10:37:48 PM ******/
CREATE NONCLUSTERED INDEX [IX_VocabularyTopics_idProfessor] ON [dbo].[VocabularyTopics]
(
	[idProfessor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TestRecords] ADD  DEFAULT ((0)) FOR [correctAns]
GO
ALTER TABLE [dbo].[TestRecords] ADD  DEFAULT ((0)) FOR [listenCorrect]
GO
ALTER TABLE [dbo].[TestRecords] ADD  DEFAULT ((0)) FOR [listenScore]
GO
ALTER TABLE [dbo].[TestRecords] ADD  DEFAULT ((0)) FOR [readScore]
GO
ALTER TABLE [dbo].[TestRecords] ADD  DEFAULT ((0)) FOR [readingCorrect]
GO
ALTER TABLE [dbo].[TestRecords] ADD  DEFAULT ((0)) FOR [totalScore]
GO
ALTER TABLE [dbo].[TestRecords] ADD  DEFAULT ((0)) FOR [wrongAns]
GO
ALTER TABLE [dbo].[Admins]  WITH CHECK ADD  CONSTRAINT [FK_AdminOfUser] FOREIGN KEY([idUser])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Admins] CHECK CONSTRAINT [FK_AdminOfUser]
GO
ALTER TABLE [dbo].[AnswerQuestions]  WITH CHECK ADD  CONSTRAINT [FK_AnswerQuestions_Questions_QuestionidQuestion] FOREIGN KEY([QuestionidQuestion])
REFERENCES [dbo].[Questions] ([idQuestion])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AnswerQuestions] CHECK CONSTRAINT [FK_AnswerQuestions_Questions_QuestionidQuestion]
GO
ALTER TABLE [dbo].[AspNetRoleClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetRoleClaims] CHECK CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserTokens]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserTokens_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserTokens] CHECK CONSTRAINT [FK_AspNetUserTokens_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[Comments]  WITH CHECK ADD  CONSTRAINT [FK_CommentsOfPost] FOREIGN KEY([idPost])
REFERENCES [dbo].[Posts] ([idPost])
GO
ALTER TABLE [dbo].[Comments] CHECK CONSTRAINT [FK_CommentsOfPost]
GO
ALTER TABLE [dbo].[Comments]  WITH CHECK ADD  CONSTRAINT [FK_CommentsOfUser] FOREIGN KEY([idUser])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[Comments] CHECK CONSTRAINT [FK_CommentsOfUser]
GO
ALTER TABLE [dbo].[Courses]  WITH CHECK ADD  CONSTRAINT [FK_CourseOfProfessor] FOREIGN KEY([idProfessor])
REFERENCES [dbo].[Professors] ([idProfessor])
GO
ALTER TABLE [dbo].[Courses] CHECK CONSTRAINT [FK_CourseOfProfessor]
GO
ALTER TABLE [dbo].[Lessons]  WITH CHECK ADD  CONSTRAINT [FK_LessonOfCourse] FOREIGN KEY([idCourse])
REFERENCES [dbo].[Courses] ([idCourse])
GO
ALTER TABLE [dbo].[Lessons] CHECK CONSTRAINT [FK_LessonOfCourse]
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD  CONSTRAINT [PaymentOfMethod] FOREIGN KEY([idMethod])
REFERENCES [dbo].[PaymentMethods] ([idMethod])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Payments] CHECK CONSTRAINT [PaymentOfMethod]
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD  CONSTRAINT [PaymentOfStudent] FOREIGN KEY([idStudent])
REFERENCES [dbo].[Students] ([idStudent])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Payments] CHECK CONSTRAINT [PaymentOfStudent]
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD  CONSTRAINT [PaymentOfVipPackage] FOREIGN KEY([idPackage])
REFERENCES [dbo].[VipPackages] ([idPackage])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Payments] CHECK CONSTRAINT [PaymentOfVipPackage]
GO
ALTER TABLE [dbo].[Posts]  WITH CHECK ADD  CONSTRAINT [FK_PostOfUser] FOREIGN KEY([idUser])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Posts] CHECK CONSTRAINT [FK_PostOfUser]
GO
ALTER TABLE [dbo].[Professors]  WITH CHECK ADD  CONSTRAINT [FK_ProfessorOfUser] FOREIGN KEY([idUser])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Professors] CHECK CONSTRAINT [FK_ProfessorOfUser]
GO
ALTER TABLE [dbo].[Questions]  WITH CHECK ADD  CONSTRAINT [FK_QuestionsOfProfessor] FOREIGN KEY([idProfessor])
REFERENCES [dbo].[Professors] ([idProfessor])
GO
ALTER TABLE [dbo].[Questions] CHECK CONSTRAINT [FK_QuestionsOfProfessor]
GO
ALTER TABLE [dbo].[Questions]  WITH CHECK ADD  CONSTRAINT [FK_QuestionsOfQuiz] FOREIGN KEY([idQuiz])
REFERENCES [dbo].[Quizs] ([idQuiz])
GO
ALTER TABLE [dbo].[Questions] CHECK CONSTRAINT [FK_QuestionsOfQuiz]
GO
ALTER TABLE [dbo].[Questions]  WITH CHECK ADD  CONSTRAINT [FK_QuestionsOfUnit] FOREIGN KEY([idUnit])
REFERENCES [dbo].[TestQuestionUnits] ([idQuestionUnit])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Questions] CHECK CONSTRAINT [FK_QuestionsOfUnit]
GO
ALTER TABLE [dbo].[Quizs]  WITH CHECK ADD  CONSTRAINT [FK_QuizzesOfLesson] FOREIGN KEY([idLesson])
REFERENCES [dbo].[Lessons] ([idLesson])
GO
ALTER TABLE [dbo].[Quizs] CHECK CONSTRAINT [FK_QuizzesOfLesson]
GO
ALTER TABLE [dbo].[Reports]  WITH CHECK ADD  CONSTRAINT [FK_AdminCheckReport] FOREIGN KEY([idAdmin])
REFERENCES [dbo].[Admins] ([idAdmin])
GO
ALTER TABLE [dbo].[Reports] CHECK CONSTRAINT [FK_AdminCheckReport]
GO
ALTER TABLE [dbo].[Reports]  WITH CHECK ADD  CONSTRAINT [FK_ReportsOfPost] FOREIGN KEY([idPost])
REFERENCES [dbo].[Posts] ([idPost])
GO
ALTER TABLE [dbo].[Reports] CHECK CONSTRAINT [FK_ReportsOfPost]
GO
ALTER TABLE [dbo].[Reports]  WITH CHECK ADD  CONSTRAINT [FK_ReportsOfUser] FOREIGN KEY([idUser])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[Reports] CHECK CONSTRAINT [FK_ReportsOfUser]
GO
ALTER TABLE [dbo].[Students]  WITH CHECK ADD  CONSTRAINT [FK_StudentOfUser] FOREIGN KEY([idUser])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Students] CHECK CONSTRAINT [FK_StudentOfUser]
GO
ALTER TABLE [dbo].[TestQuestionUnits]  WITH CHECK ADD  CONSTRAINT [FK_UnitOfTestPart] FOREIGN KEY([idTestPart])
REFERENCES [dbo].[TestParts] ([partId])
GO
ALTER TABLE [dbo].[TestQuestionUnits] CHECK CONSTRAINT [FK_UnitOfTestPart]
GO
ALTER TABLE [dbo].[TestQuestionUnits]  WITH CHECK ADD  CONSTRAINT [FK_UnitsOfTest] FOREIGN KEY([idTest])
REFERENCES [dbo].[Tests] ([idTest])
GO
ALTER TABLE [dbo].[TestQuestionUnits] CHECK CONSTRAINT [FK_UnitsOfTest]
GO
ALTER TABLE [dbo].[TestRecords]  WITH CHECK ADD  CONSTRAINT [RecordOfStudent] FOREIGN KEY([idStudent])
REFERENCES [dbo].[Students] ([idStudent])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TestRecords] CHECK CONSTRAINT [RecordOfStudent]
GO
ALTER TABLE [dbo].[TestRecords]  WITH CHECK ADD  CONSTRAINT [RecordOfTest] FOREIGN KEY([idTest])
REFERENCES [dbo].[Tests] ([idTest])
GO
ALTER TABLE [dbo].[TestRecords] CHECK CONSTRAINT [RecordOfTest]
GO
ALTER TABLE [dbo].[Tests]  WITH CHECK ADD  CONSTRAINT [TestOfProfessor] FOREIGN KEY([idProfessor])
REFERENCES [dbo].[Professors] ([idProfessor])
GO
ALTER TABLE [dbo].[Tests] CHECK CONSTRAINT [TestOfProfessor]
GO
ALTER TABLE [dbo].[Tests]  WITH CHECK ADD  CONSTRAINT [TypeTest] FOREIGN KEY([idType])
REFERENCES [dbo].[TestTypes] ([idTestType])
GO
ALTER TABLE [dbo].[Tests] CHECK CONSTRAINT [TypeTest]
GO
ALTER TABLE [dbo].[UserAnswers]  WITH CHECK ADD  CONSTRAINT [FK_AnswerOfQuestion] FOREIGN KEY([idQuestion])
REFERENCES [dbo].[Questions] ([idQuestion])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserAnswers] CHECK CONSTRAINT [FK_AnswerOfQuestion]
GO
ALTER TABLE [dbo].[UserAnswers]  WITH CHECK ADD  CONSTRAINT [FK_AnswerOfStudent] FOREIGN KEY([idStudent])
REFERENCES [dbo].[Students] ([idStudent])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserAnswers] CHECK CONSTRAINT [FK_AnswerOfStudent]
GO
ALTER TABLE [dbo].[UserAnswers]  WITH CHECK ADD  CONSTRAINT [FK_RecordAnswer] FOREIGN KEY([idRecord])
REFERENCES [dbo].[TestRecords] ([idRecord])
GO
ALTER TABLE [dbo].[UserAnswers] CHECK CONSTRAINT [FK_RecordAnswer]
GO
ALTER TABLE [dbo].[VipPackages]  WITH CHECK ADD  CONSTRAINT [FK_ManageVipPackage] FOREIGN KEY([idAdmin])
REFERENCES [dbo].[Admins] ([idAdmin])
GO
ALTER TABLE [dbo].[VipPackages] CHECK CONSTRAINT [FK_ManageVipPackage]
GO
ALTER TABLE [dbo].[VipStudents]  WITH CHECK ADD  CONSTRAINT [FK_VipStudentOfStudent] FOREIGN KEY([idStudent])
REFERENCES [dbo].[Students] ([idStudent])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[VipStudents] CHECK CONSTRAINT [FK_VipStudentOfStudent]
GO
ALTER TABLE [dbo].[Vocabularies]  WITH CHECK ADD  CONSTRAINT [FK_VocOfProfessor] FOREIGN KEY([idProfessor])
REFERENCES [dbo].[Professors] ([idProfessor])
GO
ALTER TABLE [dbo].[Vocabularies] CHECK CONSTRAINT [FK_VocOfProfessor]
GO
ALTER TABLE [dbo].[Vocabularies]  WITH CHECK ADD  CONSTRAINT [FK_VocOfTopic] FOREIGN KEY([idTopic])
REFERENCES [dbo].[VocabularyTopics] ([idVocTopic])
GO
ALTER TABLE [dbo].[Vocabularies] CHECK CONSTRAINT [FK_VocOfTopic]
GO
ALTER TABLE [dbo].[VocabularyTopics]  WITH CHECK ADD  CONSTRAINT [FK_TopicOfProfessor] FOREIGN KEY([idProfessor])
REFERENCES [dbo].[Professors] ([idProfessor])
GO
ALTER TABLE [dbo].[VocabularyTopics] CHECK CONSTRAINT [FK_TopicOfProfessor]
GO
USE [master]
GO
